
<!DOCTYPE html>
<html lang="pt-br"> 
    <head>
        <meta charset="utf-8/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Select a Pokemon</title>
    </head>
    <body 
    background="{{ url_for('static', filename='background-image.jpg') }}"
    style="
    color:red;
    text-align:left;
    padding:3px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
    "> 
        {% block content %}
            <h1> Pokemon Profile </h1>
            <h2>ID: {{data.id}} - Nome: {{data.name|capitalize}}</h2>
            <h3>Habilidades</h3>
            <div>
                <ul style>
                    {% for item in data.abilities %}
                        <li>
                        Nome: {{item.ability.name|title}} 
                        {{"(Hidden)" if item.ability.is_hidden else ""}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <img src={{data.sprites.front_default}} alt={{data.name}}/></img>
       {% endblock %}
    </body>
 
<html/> 
